@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  transition: all .5ms ease-out;
}

body {
  font-size: 1.2rem;
  line-height: 1.6;
  background: black;
  color: white;
  overflow: hidden;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.header {
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.nav__menu {
  display: none;
}

.logo {
  padding: 0.2em 1em;
  font-size: 1.5rem;
  text-align: center;
  background-color:#212121;
  letter-spacing: 4px;
  font-family: "cursive";
  font-weight: 900;
  text-decoration:none ;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-items {
  display: flex;
  align-items: center;
}
.list-group-items {
  padding: 0em .5em;
}

.list-group-items a {
  font-size: .1rem;
}

.list-items a {
  border-radius: 8px;
  font-size: .9rem;
  background-color: #212121;
  padding: 7px 15px;
  position: relative;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
  text-transform: uppercase;
}

.list-items:hover a {
  opacity: 0.4;
  filter: (3px);
}

.list-items a:hover {
  opacity: 1;
  filter: blur(0);
  font-weight: 500;
}

.list-items a::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:rgb(5, 5, 5);
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
  border-radius: 4px;
  position: absolute;
  transition: 0.5s;
}

.list-items a:hover:before {
  transition: transform 0.5;
  transform: scaleX(1);
  transform-origin: left;
}
.sign {
  padding: 0px 0px 0px 20px;
}

.material-icons {
  padding: 0px 5px 0px 0px;
  font-size: 1.2rem;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2em .8em;
  background:crimson;
  color: white;
  font-weight: 500;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  transform: scale(.9)
}

.hidden {
  display: none !important;
}

.open {
  display: flex !important;
}

.home {
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  height: 100vh;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 3em;
}

.home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.87;
  z-index: -1;
}
.home .max-width {
  margin: auto 0 auto 40px;
  margin-left: 20px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #ffffff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: crimson;
  background: none;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  background-color: black;
}

.top-nav__items {
  padding: 0px 5px;
}

.top-nav__item {
  padding: 4px 30px;
  background-color: #212121;
  border-bottom: 2px solid black;
}

.top-nav__item--active {
  padding: 4px 30px;
  background-color: crimson;
  border-bottom: 2px solid black;
}

.top-nav__btn {
  border-radius: 5px;
  border: 2px solid crimson;
  padding: 4px;
  margin: 2px 0px;
}

.top-nav__link--btn {
  color: crimson;
}

.top-nav__btn:hover {
  border: 2px solid #fff;
}

.top-nav__link--btn:hover {
  color: #fff;
}


@media only screen and (max-width: 1040px) {
  .btn span {
    display: none;
  }

  .material-icons {
    padding: 2px 6px;
    font-size: 1.4rem;
  }
}


@media only screen and (max-width: 900px) {
  .nav-items {
    display: none;
  }

  .nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: #424242;
    padding: 4px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  }
}


