*{
    margin:0;
    padding:0;
}
body{
    background-image: url(photo3.jpg);
    height:70vh;
    width:70vh;
    background-size: cover;
    background-position: center center;
    position:relative;
    background-repeat: no-repeat;
}
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 2000px;
    margin-top:70px;
    margin-bottom: 40px;
    
}


#about .left{
    width: 250px;
    height: 300px;
}


#about .right{
    width: 100%;
    margin-left:600px;
    margin-bottom:600px;
    padding-top: 20px;
     margin:40px 620px;
    display:block;
    width:490px;
    height: 270px;
    background:rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}
#about .right ::after{
    content: '';
    position: absolute;
    right: -31px;
    top: -18.7px;
    height: 110%;
    width: 110%;
    border: 7px solid gray;
    z-index: -1;
}

#about.right h1{
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 10px;

}

#about .right h2{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
    color: black;
}

#about .right h2:hover{
    color:blue;
}
#about .right p{
    padding: 0;
    width:95%;
    font-size:17px;
    margin-left: 10px;
    margin-top: 10px;
}


#about .left .about-img{
    margin:0px 80px ;
    height:95%;
    width:100%;
    position: relative;
    margin:40px 100px;
}
#about .left .about-img::after{
    content: '';
    position: absolute;
    left: -31px;
    top: 25px;
    height: 120%;
    width: 145%;
    border: 7px solid crimson;
    z-index: -1;
}




